<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.technologyforum.dao.mapper.customMapper.CustomNotifyMapper">
    <resultMap type="NotifyBO" id="NotifyVOResultMap">
        <!--        顺序很重要, 必须要一致,constructor ,  id   result  association-->
<!--        <id property="id" column="reply.n_id"/>-->
        <association property="notify" javaType="Notify"
                     resultMap="com.guo.technologyforum.dao.mapper.generateMapper.NotifyMapper.BaseResultMap"
                     columnPrefix="notify_"/>
        <association property="occurTheme" javaType="theme"
                     resultMap="com.guo.technologyforum.dao.mapper.generateMapper.ThemeMapper.BaseResultMap"
                     columnPrefix="theme_"/>
        <association property="sendUser" javaType="user"
                     resultMap="com.guo.technologyforum.dao.mapper.generateMapper.UserMapper.BaseResultMap"
                     columnPrefix="user_"/>
    </resultMap>

    <select id="getNotifyVOList" resultMap="NotifyVOResultMap">
        select
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixNotify">
            <property name="tabAlias" value="t_notify"/>
            <property name="prefix" value="notify_"/>
        </include>,
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixTheme">
            <property name="tabAlias" value="t_theme"/>
            <property name="prefix" value="theme_"/>
        </include>,
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixUser">
            <property name="tabAlias" value="t_user"/>
            <property name="prefix" value="user_"/>
        </include>
        from t_notify left join t_theme on t_notify.n_theme_id = t_theme.n_id
        left join t_user on t_notify.n_send_user_id = t_user.n_id
        where
        t_notify.n_receive_user_id = #{userId}
        order by
        b_status asc
        ,t_notify.d_create_time desc
        limit #{pageSize}
        offset #{offset}
    </select>
</mapper>