<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.technologyforum.dao.mapper.customMapper.CustomThemeClassMapper">

    <resultMap id="themeClassNodeVO" type="ThemeClassNodeVO">
        <result property="themeCount" column="themeCount"/>
        <association property="themeClass" javaType="ThemeClassNodeVO" resultMap="com.guo.technologyforum.dao.mapper.generateMapper.ThemeClassMapper.BaseResultMap"
                     columnPrefix="themeClass_"/>
    </resultMap>

    <select id="getHotClassNode" resultMap="com.guo.technologyforum.dao.mapper.generateMapper.ThemeClassMapper.BaseResultMap">
        select
        t_theme_class.*
        from  t_theme_class right join (select n_theme_class from t_theme
        GROUP BY t_theme.n_theme_class
        order by count(*) desc
        limit #{limit}) as theme_class_id
        on t_theme_class.n_id = theme_class_id.n_theme_class
    </select>
    
    <sql id="selectNodesByTabRouter">
        SELECT c2.n_id FROM t_theme_class c1 inner JOIN t_theme_class c2 on c1.n_id=c2.n_parentid where c1.c_router=${tabRouter}
    </sql>
    
    <select id="getNodesByTabRouter" resultMap="com.guo.technologyforum.dao.mapper.generateMapper.ThemeClassMapper.BaseResultMap">
        SELECT c2.* FROM t_theme_class c1 inner JOIN t_theme_class c2 on c1.n_id=c2.n_parentid where c1.c_router=#{tabRouter}
    </select>

    <select id="getNodeVOByNodeRouter" resultMap="themeClassNodeVO">
        <include refid="themeClassNodeVOSql"></include>
        where class.c_router=#{nodeRouter}
    </select>


    <sql id="themeClassNodeVOSql">
        select
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixThemeClass">
            <property name="tabAlias" value="class"/>
            <property name="prefix" value="themeClass_"/>
        </include>,
        count(theme.n_id) themeCount
        from t_theme_class class left join t_theme theme on class.n_id = theme.n_theme_class
    </sql>

    <select id="getNodesByUserKeep" resultMap="themeClassNodeVO">
        <include refid="themeClassNodeVOSql"></include>
        where class.n_id in (select n_node_id from t_keep_node where n_user_id=#{userId})
    </select>
</mapper>