<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.technologyforum.dao.mapper.customMapper.CustomThemeMapper">

    <resultMap type="themeListVO" id="themeListVOResultMap">
<!--        顺序很重要, 必须要一致,constructor ,  id   result  association-->
        <result property="countReply" column="countReply"/>
        <association property="lastThemeReply" javaType="themeReply"
                     resultMap="com.guo.technologyforum.dao.mapper.generateMapper.ThemeReplyMapper.BaseResultMap"
                     columnPrefix="themeReply_"/>

        <association property="theme" javaType="theme"
                     resultMap="com.guo.technologyforum.dao.mapper.generateMapper.ThemeMapper.BaseResultMap"
                     columnPrefix="theme_"/>

        <association property="themeOwner" javaType="user"
                     resultMap="com.guo.technologyforum.dao.mapper.generateMapper.UserMapper.BaseResultMap"
                     columnPrefix="user_"/>

    </resultMap>

    <sql id="themeListColum">
        select
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixTheme">
            <property name="tabAlias" value="t_theme"/>
            <property name="prefix" value="theme_"/>
        </include>,
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixUser">
            <property name="tabAlias" value="t_user"/>
            <property name="prefix" value="user_"/>
        </include>,
        <include refid="com.guo.technologyforum.dao.mapper.customMapper.CustomSql.prefixThemeReply">
            <property name="tabAlias" value="reply"/>
            <property name="prefix" value="themeReply_"/>
        </include>,
        count(*) countReply from
        t_theme left join t_user on t_theme.n_user_id=t_user.n_id
        left join (SELECT * from t_theme_reply order by d_reply_time desc) reply on t_theme.n_id=reply.n_theme_id
    </sql>

    <sql id="themeListSql">
        <include refid="themeListColum"></include>
        where n_theme_class
         <choose>
             <when test="tabRouter != null">
                 in (SELECT c2.n_id FROM t_theme_class c1 inner JOIN t_theme_class c2 on c1.n_id=c2.n_parentid where c1.c_router=${tabRouter})
             </when>
             <otherwise>
                 = (select n_id from t_theme_class c3 where c3.c_router=${nodeRouter})
             </otherwise>
         </choose>
        GROUP BY t_theme.n_id
        order by t_theme.d_create_time desc ,reply.d_reply_time desc
        limit ${pageSize}
        offset ${offset}
    </sql>

    <select id="getTodayHotTheme" resultMap="themeListVOResultMap">
        <include refid="themeListColum"></include>
        where date(t_theme.d_create_time) = curdate()
        GROUP BY t_theme.n_id
        order by t_theme.d_create_time desc ,count(*) desc
        limit #{limit}
    </select>



    <sql id="hotClassId">
        select n_theme_class from t_theme
        GROUP BY t_theme.n_theme_class
        order by count(*) desc
        limit ${limit}
    </sql>

    <select id="getThemeList" resultMap="themeListVOResultMap">
        <include refid="themeListSql">
            <property name="tabRouter" value="#{tabRouter}"/>
            <property name="nodeRouter" value="#{nodeRouter}"/>
            <property name="pageSize" value="#{pageSize}"/>
            <property name="offset" value="#{offset}"/>
        </include>
    </select>

    <select id="getThemeListByNodeId" resultMap="themeListVOResultMap">
        <include refid="themeListSql">
            <property name="nodeRouter" value="#{nodeRouter}"/>
            <property name="tabRouter" value="#{tabRouter}"/>
            <property name="pageSize" value="#{pageSize}"/>
            <property name="offset" value="#{offset}"/>
        </include>
    </select>

</mapper>